
a { text-decoration: none !important; }
img { max-width: 100%; }

.padd-1 { padding: 1%; }
.padd-10 { padding: 10px; }
.padd-20 { padding: 20px; }
.padd-30 { padding: 30px; }
.padd-40 { padding: 40px; }

.ptb-10 { padding-top: 10px; padding-bottom: 10px; }
.ptb-15 { padding-top: 15px; padding-bottom: 15px; }
.ptb-20 { padding-top: 20px; padding-bottom: 20px; }
.ptb-30 { padding-top: 30px; padding-bottom: 30px; }
.ptb-40 { padding-top: 40px; padding-bottom: 40px; }
.ptb-60 { padding-top: 60px; padding-bottom: 60px; }
.ptb-80 { padding-top: 80px; padding-bottom: 80px; }
.ptb-100 { padding-top: 100px; padding-bottom: 100px; }

.prl-1 { padding-right: 1%; padding-left: 1% }
.prl-10 { padding-right: 10px; padding-left: 10px }
.prl-15 { padding-right: 15px; padding-left: 15px }
.prl-20 { padding-right: 20px; padding-left: 20px }

.mb-0 { margin-bottom: 0px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }
.mb-40 { margin-bottom: 40px; }
.mb-60 { margin-bottom: 60px; }
.mb-80 { margin-bottom: 80px; }

.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-30 { margin-right: 30px; }

.mrl-0 { margin-left: 0; margin-right: 0; }

.text-sub { font-size: 10pt; color: #666; }
.box-shadow-1 { box-shadow: 2px 2px 10px #333; }
.vertical-center {
    display: flex;
    align-items: center;
} 
.align-center { text-align: center; }
